 {% extends 'base.html.twig' %}

 {% block body %}
<h1>{{ title }}</h1>




<p>Lorem ipsum dolordazd sit amet consectetur adipisicing elit. Tenetur obcaecati provident iure doloremque neque ipsam. Tempora rerum vitae ipsa, eos eius laborum totam minus fugiat a adipisci sit molestiae, eveniet cupiditate nihil! Illo distinctio officia ea sequi magni fugiat molestias.</p>
<p>Ea vitae modi distinctio. Expedita ipsam voluptatibus autem nesciunt non, alias repellendus odit, aliquid nam eum dolore. Libero quam eum exercitationem, maiores excepturi delectus at? Non reprehenderit corrupti obcaecati aliquam, fugit molestiae sapiente! Deserunt atque ipsa recusandae neque impedit omnis.</p>

 {% endblock  %}