{% extends 'base.html.twig' %}

{% block body %}

    <article>
        <h2>{{ article.title}}</h2>
        <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la catégorie anime</div>
        <div class="content">
            <img src="{{ article.image}}" alt="">
            {{ article.content | raw }}
        </div>
    </article>
{%  endblock %}
